In [1]:
import pandas as pd

In [45]:
mias_mini = pd.read_csv("~/data/mias_mini/mias-mini-meta.csv")

In [46]:
mias_mini[mias_mini['ref_num']== "mdb226"]

,ref_num,background_tissue_type,abnormaility_class,severity,center_x,center_y,radius
229,mdb226,D,CALC,B,287,610,7.0
230,mdb226,D,CALC,B,329,550,25.0
231,mdb226,D,CALC,B,531,721,8.0

In [49]:
mias_mini['ref_num'].value_counts().head(5)

mdb069    1
mdb064    1
mdb055    1
mdb056    1
mdb057    1
Name: ref_num, dtype: int64

In [15]:
mias_mini['abnormaility_class'].value_counts()

NORM    209
CALC     28
CIRC     25
ARCH     19
SPIC     19
ASYM     15
MISC     15
Name: abnormaility_class, dtype: int64

In [48]:
mias_mini = mias_mini.drop_duplicates('ref_num')

In [50]:
mias_mini.reset_index(drop=True, inplace =True)

In [51]:
mias_mini[mias_mini['ref_num']=='mdb226']

,ref_num,background_tissue_type,abnormaility_class,severity,center_x,center_y,radius
225,mdb226,D,CALC,B,287,610,7.0

In [52]:
mias_mini.shape

(322, 7)

In [53]:
mias_mini['abnormaility_class'].value_counts()

NORM    209
CALC     23
CIRC     23
ARCH     19
SPIC     19
ASYM     15
MISC     14
Name: abnormaility_class, dtype: int64

In [57]:
mias_mini.columns

Index([u'ref_num', u'background_tissue_type', u'abnormaility_class',
       u'severity', u'center_x', u'center_y', u'radius'],
      dtype='object')

In [64]:
abnormality = mias_mini['abnormaility_class'].value_counts().keys()

In [99]:
mias_mini_train = pd.DataFrame([])
mias_mini_test = pd.DataFrame([])

In [100]:
for item in abnormality:
    temp = mias_mini[mias_mini['abnormaility_class'] == item]
    train_count = int(round(temp.shape[0] * 0.8))
    print train_count, temp.shape[0]
    mias_mini_train = mias_mini_train.append(temp.head(train_count))
    mias_mini_test = mias_mini_test.append(temp.tail(temp.shape[0] - train_count))

167 209
18 23
18 23
15 19
15 19
12 15
11 14

In [101]:
mias_mini_train['abnormaility_class'].value_counts()

NORM    167
CALC     18
CIRC     18
ARCH     15
SPIC     15
ASYM     12
MISC     11
Name: abnormaility_class, dtype: int64

In [102]:
mias_mini_test['abnormaility_class'].value_counts()

NORM    42
CALC     5
CIRC     5
ARCH     4
SPIC     4
MISC     3
ASYM     3
Name: abnormaility_class, dtype: int64